version: "3"
services:
    handbrake:
          image: jlesage/handbrake
          container_name: handbrake
          environment:
          - TZ=America/Sao_Paulo
          - AUTOMATED_CONVERSION_PRESET=mkv-1080p
          - AUTOMATED_CONVERSION_FORMAT=mkv
          - AUTOMATED_CONVERSION_NON_VIDEO_FILE_ACTION=copy
          - AUTOMATED_CONVERSION_OUTPUT_SUBDIR=SAME_AS_SRC
          ports:
          - 5800:5800
          volumes:
          - /opt/appconfig/handbrake:/config:rw
          - /mnt/hb/storage:/storage:ro
          - /mnt/unionfs/Handbrake/watch:/watch:rw
          - /mnt/Handbrake/output:/output:rw
          - /mnt:/mnt
          restart: unless-stopped
    monitor:
          image: richarvey/nginx-php-fpm:1.10.3
          container_name: monitor
          ports:
          - 8555:80
          environment:
          - PUID=1000
          - PGID=1000
          - TZ=America/Sao_Paulo
          volumes:
          - /mnt/ui:/var/www/html
          - /mnt/logs:/log
          restart: unless-stopped