#!/bin/bash
# Title:      Service rclone para o tdrive
# Authors:    Holtzmann
# URL:        http://luitech.com.br
################################################################################
[Unit]
Description=tdrive Daemon
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount tdrive: /mnt/tdrive \
--log-file=/mnt/logs/rclone-tdrive.log \
--log-level INFO \
--uid=1000 --gid=1000 --umask=002 \
--allow-other \
--bwlimit-file 16M \
--dir-cache-time 5000h \
--drive-pacer-min-sleep 10ms \
--drive-pacer-burst 200 \
--user-agent HandBrake \
--drive-skip-gdocs \
--poll-interval=10s \
--vfs-cache-mode full \
--cache-dir=/mnt/cache \
--vfs-read-ahead=128M \
--vfs-cache-poll-interval=15s \
--vfs-cache-max-age 5000h \
--vfs-cache-max-size 10G \
--vfs-read-chunk-size 128M \
--vfs-read-chunk-size-limit off \
--buffer-size=16M \
--use-mmap \
--vfs-case-insensitive
ExecStop=/bin/fusermount -uz /mnt/tdrive > /dev/null
TimeoutSec=60
User=1000
Group=1000

[Install]
WantedBy=multi-user.target